---
import LostPetView from "./LostPetView.astro"
---

<div id="container" class="h-full">
  <main class="flex justify-center h-full">
    <section>
      <!-- <h1>I lost my dog</h1>
			<p>This page was open via QR code on dog collar</p>
			<section id="dog">
				<PetInfoView
					name="Neo"
					breed="Weimaraner"
					gender="male"
					weight={{ value: 22.2, unit: "kg" }}
				/>
			</section>
			<section id="human">
				<p>Victor Hernandez Nuñez</p>
				<a href="tel:+393493698213">Call</a>
				<p>Lorem ipsum</p>
			</section>
			<section id="last-seen">
				<p>Last seen at ...</p>
			</section>
		</section> -->
      <LostPetView name="Neo" breed="Weimaraner" />
    </section>
  </main>
</div>
