---
import MainLayout from "./MainLayout.astro"
import "../styles/global.css"

type Props = {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="size-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="size-full bg-light font-display dark:bg-dark dark:text-gray-500 text-gray-700">
    <MainLayout>
      <slot />
    </MainLayout>
  </body>
</html>
