<!doctype html>
<html lang="en" class="size-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
  <body class="bg-light dark:bg-dark dark:text-gray-500 size-full font-display text-gray-700">
		<slot />
	</body>
</html>
