---
import HtmlLayout from "./HtmlLayout.astro"
import MainLayout from "./MainLayout.astro"
---

<HtmlLayout title="Lost Pet">
  <MainLayout>
    <section>
      <slot />
    </section>
  </MainLayout>
</HtmlLayout>
