<!-- <div class="-z-10 absolute inset-0 bg-black">
  <div class="bg-radial from-gray-900 via-gray-800 to-black opacity-80 absolute inset-0"></div>
  <div class="absolute inset-0 bg-radial-[at_30%_70%] from-stone-900 via-zinc-900 to-black opacity-80"></div>
  <div class="absolute inset-0 bg-radial-[at_80%_20%] from-violet-900 via-stone-900 to-black opacity-40"></div>
</div> --><!-- <div class="absolute inset-0 -z-10 hidden dark:block dark:bg-[radial-gradient(ellipse_at_30%_30%,#0d0d0d_0%,transparent_40%),radial-gradient(ellipse_at_70%_40%,#111827_0%,transparent_40%),radial-gradient(ellipse_at_50%_80%,#1f2937_0%,transparent_50%),radial-gradient(ellipse_at_90%_90%,#0f172a_0%,transparent_30%)] blur-[60px] opacity-100"></div> -->
<div class="-z-10 dark:bg-black not-dark:bg-white absolute inset-0">
  <!-- Layer 1 -->
  <div
    class="absolute inset-0 blur-[100px] opacity-80
    bg-[radial-gradient(circle_at_20%_20%,#bfdbfe_0%,transparent_50%)]
    dark:bg-[radial-gradient(ellipse_at_30%_30%,#1f2937_0%,transparent_40%)]"
  >
  </div>

  <!-- Layer 2 -->
  <div
    class="absolute inset-0 blur-[100px] opacity-80
    bg-[radial-gradient(circle_at_80%_30%,#fde68a_0%,transparent_50%)]
    dark:bg-[radial-gradient(ellipse_at_70%_40%,#27272a_0%,transparent_40%)]"
  >
  </div>

  <!-- Layer 3 -->
  <div
    class="absolute inset-0 blur-[100px] opacity-80
    bg-[radial-gradient(circle_at_50%_80%,#fcd5ce_0%,transparent_60%)]
    dark:bg-[radial-gradient(ellipse_at_80%_20%,#6b21a8_0%,transparent_40%)]"
  >
  </div>
</div>
